body{
  background:#fff;
  color:#273a34;
  font-family:'WorkSans';
}
::-moz-selection { /* Code for Firefox */
  color: #222;
  background: #619dba;
}
::selection {
    color: #222;
    background: #619dba;
}
a{
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
a:hover{
  color:#746969;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a{
  padding:1px 3px;
  background:#fff;
  box-sizing:border-box;
  color:#201919;
}
/*> site*/
  #site{
    margin:3% 3%;
    height:90%;
    width:94%;background:#efefef;
  }
/*> site-hero*/
  #site-hero{
    height:100%;
    width:100%;
    position:relative;
    text-align:center;
  }
  #site-hero header{
    padding:;
    background:red;
    text-align:left;
  }
  #site-hero header h1{
    text-align:left;
    font-size:2em;
  }
  #site-hero header h2{
    font-size:5.2em;
    font-weight:900;
  }
