body{
  background:#fff;
  color:#273a34;
  font-family:'WorkSans';
}
::-moz-selection { /* Code for Firefox */
  color: #222;
  background: #619dba;
}
::selection {
    color: #222;
    background: #619dba;
}
a{
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
a:hover{
  color:#746969;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
p a{
  padding:1px 3px;
  background:#fff;
  box-sizing:border-box;
  color:#201919;
}
/*> site*/
  #site{
    height:100%;
    width:100%;background:#efefef;
    box-sizing:border-box;
    border:20px solid #fff;
    position:relative;
  }
/*> site-hero*/
  #site-hero{
    height:100%;
    width:100%;
    position:relative;
    text-align:center;
    color:#fff;
  }
  #site-hero .wrapper{
    height:100%;
    width:100%;
    background:rgba(50, 56, 80, 0.6);
  }
  #site-hero header{
    padding:1em;
    text-align:left;
  }
  #site-hero header h1{
    text-align:left;
    text-transform:uppercase;
    font-size:1.8em;
  }
  #site-hero header h2{
    font-size:5.2em;
    font-family:"WorkSans-Bold";
  }
  #site-hero header ul{
    margin:0.2em 0;
    width:100%;
  }
  #site-hero header ul li{
    display:inline-block;
    font-size:0.8em;
  }
